body {
  background-color: #F2E9BB;
}

h1 {
  text-align: center;
  margin-top: 10%;
  color: #592202;
}

h2 {
  text-align: center;
  color: #592202;
}

.form {
  text-align: center;
}

input {
  width: 50%;
  color: #A6662E;
  background-color: #F2E9BB;
  border: none;
  border-bottom: 2px solid #260101;
  outline: none;
  /*background-image: url('searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  */
}

input:focus {
  border: none;
  border-bottom: 4px solid #260101;
}

 /*
  -project colors-
  1: #F2E9BB
  2: #F2BE7E
  3: #A6662E
  4: #592202
  5: #260101
 */